{% extends "base.html" %}

{% block content %}
    <h2>Post a New Job</h2>
    <form method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.title.label }}
            {{ form.title(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.company.label }}
            {{ form.company(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.location.label }}
            {{ form.location(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.salary.label }}
            {{ form.salary(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.description.label }}
            {{ form.description(class="form-control", rows=10) }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}